# Build output directories
build*

# logs and artifacts
logs/*
artifacts/*
ansible-config/logs/*
ansible-config/artifacts/*
ansible-config/tests/*
apps/docker-test-deployment/*
# VS Code settings
.vscode

# random files
.watcher.lock
.clang-format
